* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* body {
  min-height: 100vh;
} */

#main_heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

#page_title {
  text-align: center;
}
#main_player_interface {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 300px;
}

#round_results {
  display: flex;
  height: 300px;
  border: 1px solid brown;
}
.user-throw {
  /* flex-grow: 1; */
  width: 100px;
  height: 100px;
}

