* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px dashed black; */
}

body {
  min-height: 100vh;
}
p {
  font-size: 1.3em;
  width: 50%;
  text-align: center;
}
#results_text {
  flex-grow: 1;
}

.flex {
  display: flex;
}

.user-throw {
  width: 100px;
  height: 100px;
}
#page_title {
  text-align: center;
}
#main_player_interface {
  justify-content: center;
  align-items: flex-end;
  gap: 50px;
  height: 200px;
}

#round_results {
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  /* height: 300px; */
  /* border: 1px solid brown; */
}

#score_tally {
  color: blue;
  gap: 12px;
  margin-top: 50px;
  
}


.tally {
  
  width: 75px;
  flex-direction: column;
  align-items: center;
}

